# React Native
node_modules/
npm-debug.log
yarn-error.log
yarn-debug.log

# Android
android/app/build/
android/app/src/main/assets/index.android.bundle
android/app/src/main/assets/index.android.bundle.meta
android/app/src/main/res/drawable-hdpi/
android/app/src/main/res/drawable-mdpi/
android/app/src/main/res/drawable-xhdpi/
android/app/src/main/res/drawable-xxhdpi/
android/app/src/main/res/drawable-xxxhdpi/
android/app/src/main/res/raw/
android/app/build/outputs/
android/app/build/intermediates/
android/app/build/generated/
android/app/build/tmp/
android/.gradle/

# iOS
ios/Pods/
ios/build/
ios/*.xcworkspace
ios/*.xcodeproj/project.xcworkspace
ios/*.xcodeproj/xcuserdata

# System
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp
